# Asegúrate de que tienes todas tus dependencias
django
gunicorn
whitenoise
dj-database-url
psycopg2-binary
asgiref==3.4.1
boto3==1.20.5
botocore==1.23.5
chardet==5.2.0
dj-database-url==0.5.0
Django==3.2.9
django-storages==1.12.3
djangorestframework==3.12.4
gunicorn==20.1.0
jmespath==0.10.0
numpy==1.26.3
pandas==2.1.4
pillow==10.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dateutil==2.8.2
python-decouple==3.5
pytz==2021.3
reportlab==4.0.9
s3transfer==0.5.0
setuptools==69.0.3
six==1.16.0
sqlparse==0.4.2
tzdata==2023.4
urllib3==1.26.7
whitenoise==5.3.0